PORT=3000
NODE_ENV=production

# PostgreSQL (Render.com — Internal Database URL kullan)
DATABASE_URL=postgresql://user:password@host:5432/alocukurhatti?sslmode=require

# Cloudinary (cloudinary.com — ücretsiz 25GB)
CLOUDINARY_CLOUD_NAME=untitled
CLOUDINARY_API_KEY=168455553727829
CLOUDINARY_API_SECRET=1IqvW6eoqaFVU38qddHvnsLFBP8
